@import 'custom';
@import '~bootstrap/scss/bootstrap';

.col-sm-4 h2{
color: aquamarine;
}
/*
$mobile:560px;

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }

}
*/
body{
    overflow-x: hidden;
   font-family: 'Slabo 27px', serif;
   background-color: rgba(233, 232, 223, 0.979);

}
#myCarousel{

    padding-top: 56px;
}
.navbar-brand{
    font-family: 'Lobster', cursive;
}


.carousel-caption{
    background-color: rgba(240, 239, 232, 0.5);
}

#container1{
   
}


/*

.jumbotron{
    margin-bottom: 0px;
    background-image: url(../images/about-us-banner.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
         #exite{
    color: rgb(235, 160, 62);
    font-weight: bolder;
   } 

   @include mobile{
  
    height:200px;
    width: 100%;
    background-image: url(../images/about-us-banner.png);
    background-position: 100% ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;

}

}
*/




